<nav></nav>
<carousel-adv></carousel-adv>
<div class="new-prd-title">
    <a href="#">Ceva descriere pompoasa</a>
</div>
<div class="new-prod">
    <new-prod></new-prod>
    <new-prod></new-prod>
    <new-prod></new-prod>
    <new-prod></new-prod>
</div>
<hr>

<div class="new-prd-title">
    <a href="#">Alt citat "fabulos"</a>
</div>

<div class="new-prod">
    <new-prod></new-prod>
    <new-prod></new-prod>
    <new-prod></new-prod>
    <new-prod></new-prod>
</div>


<div class="info">
    <div>
        <p>GHID DE CUMPĂRĂTURI</p>
        <a href="#">Cum cumpar?</a><br />
        <a href="#">Livrari si plata</a><br />
        <a href="#">Retur</a>
    </div>
    <div>
        <p>POLITICA DE CONFIDENȚIALITATE</p>
        <a href="#">Politica de confidentialitate</a><br />
        <a href="#">Politica cookie</a><br />
        <a href="#">Setari cookie</a>
    </div>
    <div>
        <p>CONTACT</p>
        <a href="#">Buletin informativ</a><br />
        <a href="#">Magazine</a><br />
        <a href="#">Contact</a><br />
        <a href="#">Tara</a>
    </div>
</div>